In [ ]:
#movielens data set을 이용 {numpy}할때의 실습 문제

#1.사용자가 평가한 모든 영화의 전체 평점
#2.각 사용자별 평균평점
#3.각 영화별 평균 평점 
#4. 가장 평균 평점이 높은 영화의 제목은?(모두출력)
#5. comedy 영화중 평점이 가장 낮은 영화의 제목
#6. 2015년도에 평가된 모든 Romence 영화의 평균평점  timestamp 이용 
#timestamp : 1970년 1월 1일 0시 1초 ->1 , 2초 ->2  
#timestamp 를 데이트로 바꾸는 함수가있음

#7.2014년도에 평가된 Action 영화의 평점을 기준으로 상위 10위 영화 출력(영화의 제목, 오름차순 기준)

In [18]:
import numpy as np
import pandas as pd

#df = pandas.read_csv('filename.csv', encoding='utf-8')


ratings = pd.read_csv('./data/movie/ratings.csv')
movie = pd.read_csv('./data/movie/movies.csv' )
cols=["각 사용자가 평가한 모든 영화의 전체평점","key"]
i=1
df1 = pd.DataFrame(columns=cols, index=range(1))
display(df1)
print("1번 문제")
print(ratings["rating"].mean())
df1.iloc[0,0]=ratings["rating"].mean()
df1.iloc[0,1]=1
display(df1)

  각 사용자가 평가한 모든 영화의 전체평점  key
0                    NaN  NaN

1번 문제
3.501556983616962

  각 사용자가 평가한 모든 영화의 전체평점 key
0                3.50156   1

In [23]:

cols2 = ["각사용자별평균평점", 'c2']
df2 = pd.DataFrame(columns=cols, index=range(620))

for i in ratings["userId"].unique():
    df2.iloc[i,0]=ratings[ratings["movieId"]==i]["rating"].mean()
    df2.iloc[i,1]=i
display(df2)
display(ratings)

    각 사용자가 평가한 모든 영화의 전체평점  key
0                      NaN  NaN
1                  3.92093    1
2                  3.43182    2
3                  3.25962    3
4                  2.35714    4
5                  3.07143    5
6                  3.94608    6
7                  3.18519    7
8                    2.875    8
9                    3.125    9
10                 3.49621   10
11                 3.67143   11
12                 2.42105   12
13                   3.125   13
14                 3.83333   14
15                       3   15
16                 3.92683   16
17                 3.77612   17
18                     3.7   18
19                 2.72727   19
20                     2.5   20
21                 3.49438   21
22                 3.22222   22
23                   3.125   23
24                   3.125   24
25                   3.625   25
26                     3.5   26
27                 3.33333   27
28                 4.22727   28
29                 4.01316   29
..                     ...  ...
590                3.83537  590
591                    NaN  591
592                3.42857  592
593                4.16129  593
594                3.61688  594
595                3.77055  595
596                   3.45  596
597                3.48519  597
598                    NaN  598
599                3.81818  599
600                      4  600
601                    NaN  601
602                      4  602
603                    NaN  603
604                    NaN  604
605                      3  605
606                      3  606
607                    NaN  607
608                4.11602  608
609                3.57143  609
610                3.54545  610
611                    NaN  NaN
612                    NaN  NaN
613                    NaN  NaN
614                    NaN  NaN
615                    NaN  NaN
616                    NaN  NaN
617                    NaN  NaN
618                    NaN  NaN
619                    NaN  NaN

[620 rows x 2 columns]

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
5            1       70     3.0   964982400
6            1      101     5.0   964980868
7            1      110     4.0   964982176
8            1      151     5.0   964984041
9            1      157     5.0   964984100
10           1      163     5.0   964983650
11           1      216     5.0   964981208
12           1      223     3.0   964980985
13           1      231     5.0   964981179
14           1      235     4.0   964980908
15           1      260     5.0   964981680
16           1      296     3.0   964982967
17           1      316     3.0   964982310
18           1      333     5.0   964981179
19           1      349     4.0   964982563
20           1      356     4.0   964980962
21           1      362     5.0   964982588
22           1      367     4.0   964981710
23           1      423     3.0   964982363
24           1      441     4.0   964980868
25           1      457     5.0   964981909
26           1      480     4.0   964982346
27           1      500     3.0   964981208
28           1      527     5.0   964984002
29           1      543     4.0   964981179
...        ...      ...     ...         ...
100806     610   150401     3.0  1479543210
100807     610   152077     4.0  1493845817
100808     610   152081     4.0  1493846503
100809     610   152372     3.5  1493848841
100810     610   155064     3.5  1493848456
100811     610   156371     5.0  1479542831
100812     610   156726     4.5  1493848444
100813     610   157296     4.0  1493846563
100814     610   158238     5.0  1479545219
100815     610   158721     3.5  1479542491
100816     610   158872     3.5  1493848024
100817     610   158956     3.0  1493848947
100818     610   159093     3.0  1493847704
100819     610   160080     3.0  1493848031
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100822     610   160571     3.0  1493848537
100823     610   160836     3.0  1493844794
100824     610   161582     4.0  1493847759
100825     610   161634     4.0  1493848362
100826     610   162350     3.5  1493849971
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155
100829     610   164179     5.0  1493845631
100830     610   166528     4.0  1493879365
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [40]:
c1=ratings["movieId"].unique() # 영화id 중복처리 한 값
c2=len(ratings["movieId"].unique())# 영화id 중복처리 한 값의 개수
c3=ratings["movieId"].max() #영화id 중 제일 큰수

cols = ["movieId","각 영화별 평균평점","key"]
df3 = pd.DataFrame(columns=cols, index=range(c2))
df3.loc[0,"영화의 전체 평점"]=ratings["rating"].mean()


#print(ratings["movieId"])
#print(ratings["movieId"])


for j in ratings["movieId"].unique():

    df3.iloc[j,0]=ratings["movieId"].unique()
    df3.iloc[j,1]=ratings[ratings["movieId"]==j]["rating"].mean()
    df3.iloc[j,2]=j
display(df3)

IndentationError: expected an indented block (<ipython-input-40-b6c8911d455f>, line 15)

In [37]:
c1=ratings["movieId"].unique() # 영화id 중복처리 한 값
c2=len(ratings["movieId"].unique())# 영화id 중복처리 한 값의 개수
c3=ratings["movieId"].max() #영화id 중 제일 큰수

cols = ["movieId","각 영화별 평균평점","key"]
df3 = pd.DataFrame(columns=cols, index=range(c2))
df3.loc[0,"영화의 전체 평점"]=ratings["rating"].mean()

print(ratings["movieId"].unique())

[     1      3      6 ... 160836 163937 163981]